@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
  --color-sidebar: #f5f6f8;
  --color-active: #dce1e7;
  --color-primary: #2196f3;
  --color-dark: #383d3b;
  --color-secondary: #fa9f42;
  --header-height: 75px;
  --checkbox-size: 1.3rem;
  --std-transition: all 0.1s ease;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  color: var(--color-dark);
}

body {
  display: grid;
  grid-template-areas:
    'header header'
    'sidebar main'
    'footer main';
  grid-template-columns: 300px 1fr;
  grid-template-rows: 75px 1fr 75px;
  width: 100dvw;
  height: 100dvh;
}

/* ---HEADER--- */
header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-area: header;
  align-items: center;
  background-color: var(--color-primary);
  user-select: none;
}

.brand {
  margin: 0;
  margin-left: 3rem;
  padding: 0;
  font-size: 2rem;
  font-weight: lighter;
  color: white;
}

.brand i {
  margin-right: 1rem;
}

.brand .accent {
  font-weight: bold;
  color: var(--color-dark);
}

/* ---SIDEBAR--- */

.sidebar {
  grid-area: sidebar;
  padding: 3rem 1.5rem;
  background-color: var(--color-sidebar);
  overflow-x: hidden;
  overflow-y: auto;
}

.projects-container .title-group {
  margin-bottom: 1rem;
}

.projects-container .title-group > h1 {
  margin: 0;
  font-size: 1.5rem;
}

.projects-list {
  display: grid;
  padding: 0;
  font-size: 1rem;
  list-style: none;
  gap: 0.2rem;
}

.project {
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  padding: 0.4rem;
  transition: var(--std-transition);
}

.project .project-title {
  display: flex;
  align-items: center;
  margin: 0;
  color: inherit;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.projects-list .project.active {
  border-radius: 5px;
  background-color: var(--color-active);
  font-weight: 500;
}

/* ---MAIN CONTENT--- */

main {
  grid-area: main;
  padding: 3rem 4rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.task-container {
  max-width: 900px;
  margin: 0 auto;
}

.title-group {
  display: grid;
  grid-template-columns: 1fr min-content;
  align-items: top;
}

.title-group .project-title {
  margin: 0;
  font-size: 1.5rem;
}

.show-taskform-btn,
.show-projectform-btn {
  height: min-content;
  margin: 0;
  padding: 0.2rem 0.5rem;
  border: none;
  border-radius: 10px;
  background-color: transparent;
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--color-dark);
  cursor: pointer;
}

.show-taskform-btn:hover,
.show-projectform-btn:hover {
  color: var(--color-primary);
}

/* ---TASKS--- */

.task-list {
  display: grid;
  padding: 1px 0;
  background-color: var(--color-active);
  font-size: 1rem;
  gap: 1px;
  list-style: none;
  user-select: none;
}

.task {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  padding: 0.8rem 0;
  background-color: white;
  transition: var(--std-transition);
}
.task:has(.checkbox input:checked) {
  background-color: var(--color-sidebar);
  transition: var(--std-transition);
}

.task-info {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  cursor: pointer;
}

.task-title {
  display: flex;
  align-items: center;
}

.description {
  font-size: 0.8rem;
  color: grey;
}

.task:has(.checkbox input:checked) .task-title,
.task:has(.checkbox input:checked) .description {
  text-decoration: line-through;
}

.tags-group {
  display: flex;
  gap: 0.3rem;
}

.tag {
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  background-color: var(--color-active);
  font-size: 0.8rem;
  transition: var(--std-transition);
}
.task:has(.checkbox input:checked) .tag {
  background-color: var(--color-active);
  color: var(--color-dark);
  transition: var(--std-transition);
}

.tag.due-date {
  background-color: #cce5ff;
  color: #004085;
}
.tag.due-date.today,
.tag.due-date.tomorrow {
  background-color: #fff3cd;
  color: #85643c;
}
.tag.due-date.overdue {
  background-color: #f8d7da;
  color: #a83324;
}

.tag.priority.low {
  background-color: #d4edda;
  color: #1a5751;
}
.tag.priority.high {
  background-color: #fff3cd;
  color: #85643c;
}
.tag.priority.very-high {
  background-color: #f8d7da;
  color: #a83324;
}

/* ---EDIT & DELETE ICONS--- */

.task > i,
.project > i {
  display: flex;
  align-items: center;
  height: 1rem;
  padding-left: 0.5rem;
  transform: scale(0);
  transition: transform 0.1s;
  cursor: pointer;
}
.task:hover > i,
.project:hover > i {
  transform: scale(1);
  transition: transform 0.1s;
}
.task > .edit:hover,
.project > .edit:hover {
  filter: brightness(2);
}
.task > .delete:hover,
.project > .delete:hover {
  color: firebrick;
}

/* ---TASK & PROJECT FORMS--- */
.add-task-form,
.add-project-form {
  display: none;
  position: absolute;
}

.add-task-form.visible,
.add-project-form.visible {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  grid-template-rows: 1fr min-content 1fr;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
}

.form-content {
  display: grid;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  padding: 3rem;
  border: 1px solid var(--color-active);
  border-radius: 10px;
  background-color: white;
  gap: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.form-content * {
  border-radius: 5px;
}

.form-content .title-input {
  min-width: 500px;
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-active);
  font-size: 1.5rem;
}
.form-content .details-container {
  display: grid;
  grid-template-columns: 1fr max-content max-content;
  gap: 8px;
}

.form-content .description-input,
.form-content .priority-input,
.form-content .due-date-input,
.form-content .notes-input {
  padding: 0.2rem 1rem;
  border: 1px solid var(--color-active);
  background-color: white;
}

.form-content .priority-input,
.form-content .due-date-input {
  color: grey;
}

.form-content .priority-input.interacted,
.form-content .due-date-input.interacted {
  color: black;
}

.form-content .priority-input option {
  color: black;
}

.form-content .notes-input {
  width: 100%;
}

.form-content .button-group {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 8px;
}
.form-content button {
  width: 125px;
  padding: 0.5rem 1rem;
  border: none;
  background-color: transparent;
  font-size: 1rem;
  cursor: pointer;
}
.form-content button:hover {
  filter: brightness(0.95);
}
.form-content .cancel-btn {
  justify-self: right;
  border: 1px solid var(--color-active);
  background-color: white;
}
.form-content .submit-btn {
  background-color: var(--color-primary);
  color: white;
}
.form-content .delete-btn {
  display: none;
  justify-self: left;
  background-color: rgba(211, 43, 43, 0.841);
  color: white;
}
.add-task-form.edit-task .form-content .delete-btn,
.add-project-form.edit-project .form-content .delete-btn {
  display: initial;
}

/* ---FOOTER--- */
footer {
  grid-area: footer;
  background-color: var(--color-sidebar);
}

/* CHECKBOX STYLES */

.checkbox-container {
  display: grid;
  height: min-content;
  padding: 0px 0.5rem;
  place-items: center;
}

.checkbox {
  height: min-content;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the default checkbox */
.checkbox input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  display: grid;
  width: var(--checkbox-size);
  height: var(--checkbox-size);
  border: 1px solid var(--color-active);
  border-radius: 50%;
  background-color: white;
  transition: var(--std-transition);
  place-items: center;
  cursor: pointer;
}

/* Checkmark unchecked */
.checkmark i {
  padding-top: 8%;
  font-size: 0px;
  color: var(--color-primary);
  transition: all 0.5s ease;
}

/* Checkmark hover */
.checkbox:hover .checkmark {
  border: 2px solid var(--color-primary);
}

/* Checkmark checked */
.checkbox input:checked ~ .checkmark {
  border: 2px solid var(--color-primary);
  background-color: var(--color-primary);
}
.checkbox input:checked ~ .checkmark i {
  display: block;
  font-size: calc(0.6 * var(--checkbox-size));
  color: white;
}
