.projects-list li,
.task-title {
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.projects-list .active,
.task-title.active {
  color: blue;
  text-decoration: underline;
  font-weight: bold;
}

.task-title:not(.active) .task-details {
  display: none;
}
