@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
  --color-sidebar: #f5f6f8;
  --color-active: #dce1e7;
  --color-primary: #2196f3;
  --color-dark: #383d3b;
  --color-secondary: #fa9f42;
  --header-height: 75px;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  color: var(--color-dark);
}

body {
  display: grid;
  grid-template-areas:
    'header header'
    'sidebar main'
    'footer main';
  grid-template-columns: 300px 1fr;
  grid-template-rows: 75px 1fr 75px;
  width: 100dvw;
  height: 100dvh;
}

/* ---HEADER--- */
header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-area: header;
  align-items: center;
  background-color: var(--color-primary);
  user-select: none;
}

.brand {
  margin: 0;
  margin-left: 3rem;
  padding: 0;
  font-size: 2rem;
  font-weight: lighter;
  color: white;
}

.brand i {
  margin-right: 1rem;
}

.brand .accent {
  font-weight: bold;
  color: var(--color-dark);
}

/* ---SIDEBAR--- */

.sidebar {
  grid-area: sidebar;
  padding: 3rem 1.5rem;
  background-color: var(--color-sidebar);
  overflow-x: hidden;
  overflow-y: auto;
}

.projects-container .title-group {
  margin-bottom: 1rem;
}

.projects-container .title-group > h1 {
  margin: 0;
  font-size: 1.5rem;
}

.projects-list {
  display: grid;
  padding: 0;
  font-size: 1.2rem;
  list-style: none;
  gap: 0.2rem;
}

.projects-list .project-title {
  height: 1.8rem;
  border: none;
  background-color: var(--color-sidebar);
  text-align: left;
  color: inherit;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.projects-list .project-title.active {
  border-radius: 5px;
  background-color: var(--color-active);
  font-weight: 500;
}

/* ---MAIN CONTENT--- */

main {
  grid-area: main;
  padding: 3rem 4rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.task-container {
  max-width: 900px;
  margin: 0 auto;
}

.task-container > h1 {
  margin-top: 0;
  font-size: 2rem;
}

.title-group {
  display: grid;
  grid-template-columns: 1fr min-content;
  align-items: center;
}

.title-group .project-title {
  margin: 0;
}

.show-taskform-btn,
.show-projectform-btn {
  height: min-content;
  margin: 0;
  padding: 0.2rem 0.5rem;
  border: none;
  border-radius: 10px;
  background-color: transparent;
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--color-dark);
  cursor: pointer;
}

.show-taskform-btn:hover,
.show-projectform-btn:hover {
  color: var(--color-primary);
}

.task-list {
  display: grid;
  padding: 1px 0;
  background-color: var(--color-active);
  font-size: 1.2rem;
  gap: 1px;
  list-style: none;
  user-select: none;
}

.task {
  display: flex;
  flex-direction: column;
  padding: 1rem 2.5rem;
  background-color: white;
  gap: 0.4rem;
}

.task-title-group {
  display: flex;
  margin-left: -2.5rem;
}

.task-title {
  display: grid;
  align-items: center;
}

.description {
  font-size: 0.9rem;
  color: grey;
}

.main-details {
  display: flex;
  gap: 0.3rem;
}

.tag {
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  background-color: var(--color-active);
  font-size: 0.9rem;
}

.fine-details {
  display: none;
}

.task.active .fine-details {
  display: block;
}

/* ---ADD TASK FORM--- */
.add-task-form,
.add-project-form {
  display: none;
  position: absolute;
}

.add-task-form.visible,
.add-project-form.visible {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  grid-template-rows: 1fr min-content 1fr;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
}

.form-content {
  display: grid;
  gap: 8px;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  padding: 3rem;
  border: 1px solid var(--color-active);
  border-radius: 10px;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.form-content * {
  border-radius: 5px;
}

.form-content .title-input {
  width: 100%;
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-active);
  font-size: 1.5rem;
}

.form-content .details-container {
  display: grid;
  grid-template-columns: 1fr max-content max-content;
  gap: 8px;
}

.form-content .description-input,
.form-content .priority-input,
.form-content .due-date-input,
.form-content .notes-input {
  padding: 0.2rem 1rem;
  border: 1px solid var(--color-active);
  background-color: white;
}

.form-content .priority-input,
.form-content .due-date-input {
  color: grey;
}

.form-content .priority-input.interacted,
.form-content .due-date-input.interacted {
  color: black;
}

.form-content .priority-input option {
  color: black;
}

.form-content .notes-input {
  width: 100%;
}

.form-content .button-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: max-content;
  gap: 8px;
  justify-self: right;
}
.form-content button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: transparent;
  font-size: 1rem;
  cursor: pointer;
}
.form-content button:hover {
  filter: brightness(0.95);
}
.form-content .cancel-btn {
  border: 1px solid var(--color-active);
  background-color: white;
}
.form-content .submit-btn {
  background-color: var(--color-primary);
  color: white;
}

/* ---FOOTER--- */
footer {
  grid-area: footer;
  background-color: var(--color-sidebar);
}

/* CHECKBOX STYLES */

.checkbox-container {
  display: grid;
  padding: 0px 0.5rem;
  place-items: center;
}

.checkbox {
  height: min-content;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the default checkbox */
.checkbox input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  display: grid;
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid var(--color-active);
  border-radius: 50%;
  background-color: white;
  transition: all 0.1s ease;
  place-items: center;
  cursor: pointer;
}

/* Checkmark unchecked */
.checkmark i {
  font-size: 0px;
  color: var(--color-primary);
  transition: all 0.5s ease;
}

/* Checkmark hover */
.checkbox:hover .checkmark {
  border: 2px solid var(--color-primary);
}

/* Checkmark checked */
.checkbox input:checked ~ .checkmark {
  border: 2px solid var(--color-primary);
  background-color: var(--color-primary);
}
.checkbox input:checked ~ .checkmark i {
  display: block;
  font-size: 0.9rem;
  color: white;
}
